.hand{
  font-size: 100px;
}
body {
  text-align: center;
}
.playerName {
  font-size: 16px;
}
.handName {
  padding-bottom: 10px;
}
#winMessage {
  border: solid;
  width: 20%;
  margin: 0 auto; /*centers the div*/
}
